<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <script src = "https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
        <title>Weather Actual vs. Forecast</title>
        <link rel = "stylesheet" type = 'text/css' href = "{{ url_for('static', filename = 'style/style.css')}}">
    </head>

<!--    <form action="/" method = "POST">-->
<!--        <p>Choose City <input type = "text" name = city /></p>-->
<!--        <p><input type = "submit" value = "Submit" /></p>-->
<!--    </form>-->

    <h1>Current Weather in {{ city_name | safe }}</h1>

    <body>{{ weather_dict['weather'] | safe }}: {{ weather_dict['weather_dec'] | safe }}</body>

    <body>
    <img src="http://openweathermap.org/img/w/{{ weather_dict['weather_icon'] }}.png" alt="Image">
    </body>

    <h3> Temperature: {{ weather_dict['temp'] | safe }} °C</h3>

    <h3> Feels like: {{ weather_dict['feels_like'] | safe }} °C</h3>

    <body> Next Weather Timestamp: {{ fcst_time | safe }}</body>

    <h3> ARIMA Model Forecast: {{ temp_model }} °C</h3>
    <h3> Open Weather API Forecast: {{ temp_api }} °C</h3>

<!--    <body>-->
<!--        {% for table in table1 %}-->
<!--        {{title1[loop.index]}}-->
<!--        {{ table|safe }}-->
<!--        {% endfor %}-->
<!--    </body>-->

    <h2>
    Recent Trend in {{ city_name | safe }}
    </h2>

    <h3 align = "center"> Temperature Actual and Forecast </h3>
    <body>
        <div align = "center">
            <canvas id="Chart1" width = "900" height = "500"></canvas>
        </div>
        <script>
            var ctx2 = document.getElementById('Chart1').getContext('2d');
            var chart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: {{ labels| safe }},
                    datasets: [{
                        label: 'actual temperature',
                        data: {{ value1 | safe }},
                        borderWidth: 5,
                        fill: false,
                        borderColor: '#fc8403'
                    }, {
                        label: 'ARIMA in-sample prediction',
                        data: {{ value2 | safe }},
                        borderWidth: 5,
                        fill: false,
                        borderColor: '#97FFFF'
                    }, {
                        label: 'forecast temperature',
                        data: {{ value3 | safe }},
                        borderWidth: 5,
                        fill: false,
                        borderColor: '#6b9362'
                    }
                    ],

                },
                options: {
                    responsive: false,
                    title: {
                        display: true,
                        text: 'temperature'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    }}
            });

        </script>

    </body>

</html>