<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body
        {
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         background-image:url({{ url_for('static', filename = 'home.jpg') }})
        }

        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>

<h1 style="color: #F0FFFF;">
    Type in city name to see current weather and forecast
</h1>

<!--<body>-->
<!--    <img src = "{{ url_for('static', filename = 'home.jpg') }}" height = '1000', width = 2000>-->
<!--</body>-->

<body>
<form action="/forecast" method = "POST" style="text-align: center; ">
    <p><input type = "text" name = city style = "color: #F0FFFF"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>