<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather Actual vs. Forecast</title>
    </head>

    <form action="/" method = "POST">
        <p>Choose City <input type = "text" name = city /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>

    <h3>
    Current Weather in {{city | safe}}
    </h3>
    <body>
    {% for key,value in weather_dict.items() %}
    <h3> {{key}}: {{value}}</h3>
    {% endfor %}
    </body>

    <h3>
    Recent Trend in {{city | safe}}
    </h3>
    <body>
    {% for table in table1 %}
        {{title1[loop.index]}}
        {{ table|safe }}
    {% endfor %}
    </body>


</html>